body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will hide any overflow */
  }

.componentContainer{
    background-image: url("./numbers.jpg");
    width: 100vw;
    height: 100vh;
    border: 4px solid yellow;
    
}

.titleAndButtonsContainer{
    height: 230px;
    background-color:  rgb(108, 144, 65);
}

.title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    margin-left: 9px;
}

.singleCategory{
    font-size: 14px;
    color: white;
}

.categoriesAndPassedContainer{
    border: 2px solid lavender;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.categoriesContainer{
    /* border: 2px solid blue; */
    /* margin-top: 5px; */
}

.passedContainer{
    /* border: 2px solid red; */
}