body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will hide any overflow */
  }

.componentContainer{
    background-image: url("./numbers.jpg");
    width: 100vw;
    height: 100vh;
    border: 4px solid yellow;
    
}

.titleAndQuizzesCategoryContainer{
    height: 260px;
    background-color:  rgb(108, 144, 65);
}

.titleQuiz{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    margin-left: 9px;
}

.allAndPassedContainer{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    gap: 40px;
}


.allContainer, .passedContainer{
    border: 3px solid brown;
}

.allTitle, .passedTitle{
    color: white;
    font-size: 22px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.allSingleCategoryContainer{
    border: 3px lime solid;
   }
   
.singleCategoryAndButtons{
    display: flex;
    border: 2px solid black;
    width: 500px;
}

.categoryTitle{
    font-size: 14px;
    color: blue;
    width: 90px;
    border: 2px solid hotpink;
}

.categoryButton{
    padding: 6px 10px;
}



