.componentContainer{
    background-color: white;
    min-width: 200px;
    height: 100vh;
    /* border: 2px solid black; */
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 1rem;
    border-right: 2px solid lightgrey; /* Add this line */
    
}

.logoContainer{
    /* border: 2px solid red; */
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
        /* border: 2px solid red; */
        text-decoration: none;
}


.profileContainer{
    /* border: 2px solid green; */
    height: 175px;
    border-radius: 5px;
}

.pracCreateQuizContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.practiceContainer{
    background-color: rgb(68, 68, 179);
    border-radius: 5px;
    padding: 20px;
    font-size:  15px;
    font-weight: bold;
    text-decoration: none;
}

.createContainer{
    background-color: rgb(238, 183, 2);
    border-radius: 5px;
    padding: 20px;
    font-size:  15px;
    font-weight: bold;
    text-decoration: none;
}

.quizContainer{
    background-color:  rgb(108, 144, 65);
    border-radius: 5px;
    padding: 20px;
    font-size:  15px;
    font-weight: bold;
    text-decoration: none;
}

.practice, .create, .quiz{
    color: white;
    text-decoration: none;
}