/* 
padding: 20px;
border-radius: 5px; */

.componentContainer{
    /* border: 2px solid blue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./numbers.jpg");
    background-repeat: repeat;
}
.titleFormContainer{
    display: flex;
    /* border: 2px solid red; */
    height: 200px;
    background-color:  rgb(238, 183, 2);
    display: flex;
    flex-direction: column;
    /* width: 39%; */
}



.create{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    margin-left: 9px; 
    
}


/* .titleAndFormContainer{
    display: flex;
    flex-direction: column;
    /* border: 5px solid green; */
    /* width: 39%; */
/* } */ 
.mathAndReadingButtonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.readingFlashcardsButton, .mathFlashcardsButton{
    background-color: red;
    color: black;
    font-weight: bold;
    padding: 5px;
    /* border-radius: 3px; */
    text-decoration: none;
    width: fit-content;
    margin-top: 7px;
    
}

.chartContainer{
    /* border: 5px solid brown; */
    width: 61%;
}

.categoriesContainer{
   /* border: 4px solid black; */
   display: flex; 
   justify-content: space-between;
   padding: 0 50px;
   background-color: rgb(238, 183, 2);
   height: 75px;
   /* gap: 10px; */
   

}

.additionFactsCategory, .subtractionFactsCategory, .multiplicationFactsCategory, .divisionFactsCategory{
    font-size: 18px;
    letter-spacing: 2px;
    /* background-color: goldenrod; */
    color: red;
    padding: 0 7px;
    
}

.additionFactsCategoryContainer, .subtractionFactsCategoryContainer, .multiplicationFactsCategoryContainer, .divisionFactsCategoryContainer{
    border: 2px solid black;
    background-color: white;
    width: 400px;
    
}

.chartImageContainer{
    /* border: 5px solid yellow; */
    width: 100%;
    height: 100%;
}
.image{
    /* border: 5px solid blue; */
    width: 100%;
    height: 100%;
}

.flashcardsButton{
   font-weight: bold; 
   margin: 2.5px;
}


.subject, .topic, .subtopic, .question, .answer, .button{
    padding: 20px;
    border-radius: 5px;  
} 