.componentContainer{
    border: 2px solid blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./numbers.jpg");
    background-repeat: repeat;
}
.titleFormContainer{
    display: flex;
    border: 2px solid red;
    /* height: 135px; */
    background-color:  rgb(238, 183, 2);
    display: flex;
    flex-direction: column;
    /* width: 39%; */
}

.create{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
}


/* .titleAndFormContainer{
    display: flex;
    flex-direction: column;
    /* border: 5px solid green; */
    /* width: 39%; */
/* } */ 
.mathAndReadingButtonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.readingFlashcardsButton, .mathFlashcardsButton{
    background-color: rgb(221, 37, 56);
    color: white;
    padding: 5px;
    /* border-radius: 3px; */
    text-decoration: none;
    width: 60px;
}

.chartContainer{
    /* border: 5px solid brown; */
    width: 61%;
}


.chartImageContainer{
    /* border: 5px solid yellow; */
    width: 100%;
    height: 100%;
}
.image{
    /* border: 5px solid blue; */
    width: 100%;
    height: 100%;
}