.componentContainer{
    border: 2px solid blue;
    height: 100%;
}
.titleFormContainer{
    display: flex;
    border: 2px solid red;
    height: 135px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* width: 39%; */
}

.create{
    font-weight: bold;
    font-size: 50px;
    color: rgb(238, 183, 2);
}


/* .titleAndFormContainer{
    display: flex;
    flex-direction: column;
    /* border: 5px solid green; */
    /* width: 39%; */
/* } */ 


.chartContainer{
    /* border: 5px solid brown; */
    width: 61%;
}


.chartImageContainer{
    /* border: 5px solid yellow; */
    width: 100%;
    height: 100%;
}
.image{
    /* border: 5px solid blue; */
    width: 100%;
    height: 100%;
}