

.allButtonsContainer{
    /* border: 3px solid blue; */
    display: flex;
    /* flex-direction: column; */
    width: 1000px;
    margin: 0 auto;
    gap: 90px;
    /* border: 2px solid white; */
    justify-content: space-between;
    height: 75px;
    padding-right: 100px;
} 

.additionTitle, .subtractionTitle, .multiplicationTitle, .divisionTitle {
   color: rgb(177, 41, 41);
   font-weight: bold;
   font-size: 20px;
}

/* .subtractionTitle{
    color: rgb(220, 210, 20);
    font-weight: bold;
    font-size: 18px;
 }

 .multiplicationTitle{
    color: yellowgreen;
    font-weight: bold;
    font-size: 18px;
 }

 .divisionTitle{
    color: rgb(176, 189, 193);
    font-weight: bold;
    font-size: 18px;
 } */