.componentContainer{
}

.allButtonsContainer{
    /* border: 3px solid blue; */
    display: flex;
    gap: 13px;
    border: 2px solid white;
    justify-content: center;
} ssssss

.additionTitle{
   color: rgb(89, 174, 202);
   font-weight: bold;
   font-size: 18px;
}

.subtractionTitle{
    color: rgb(220, 210, 20);
    font-weight: bold;
    font-size: 18px;
 }

 .multiplicationTitle{
    color: yellowgreen;
    font-weight: bold;
    font-size: 18px;
 }

 .divisionTitle{
    color: rgb(176, 189, 193);
    font-weight: bold;
    font-size: 18px;
 }