.componentContainer{
    width: 100%;
    /* border: 2px solid red; */
    height: 100%;
    background-image: url("./numbersPractice.png");
    background-repeat: repeat;
}

.titleAndLinks{
/* border: 4px solid black; */
}

.practice{
    font-size: 85px;
    color: rgb(68, 68, 179);
    font-weight: bold;
    background-color: white;
    height: 120px;
    /* border: 2px solid green; */
}
.numberButton{
    /* border: 2px solid blue; */
    border-radius: 20px;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(68, 68, 179);
}

.links{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    background-color: rgb(201, 224, 245);
    /* border: 2px solid red; */
    width: 100%;
}