*, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
aaa
html{
  font-size: 62.5%
}

:root{
  --container-max-width: 140rem;
  --blue-color: dodgerblue;
  --white-color: white;
  --yellow-color: goldenrod; 
 }
