.componentContainer{
  /* border: 6px solid blue; */
  height: calc(100vh - 260px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.singleCard, .resultCard{
    background-color: white;
    border: 10px dotted black;
    border-radius: 6px;
    width: 600px;
    height: 450px;
    margin-top: 30px;
}

.question{
    /* border: 2px solid brown; */
    height: 65%;
    color: black;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerFillInContainer{
    border: 10px solid hotpink;
    height: 30%;
    display: flex;
    justify-content: center;
}

.answerFillIn{
    border: 5px solid black;
    background-color: yellow;
    color: black;
    width: 80px;
    height: 80px;
    font-size: 70px;
    text-align: center;
    margin-top: 10px;

}

.next{
    height: fit-content;
    padding: 10px;
    margin-top: 32px;
    margin-left: 20px;
    border-radius: 4px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.left{
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: yellow;
    width: 70px;
    margin: 0 auto;
}

.submit{
    height: fit-content;
    color: black;
    background-color: hotpink;
    padding: 14px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 32px;
    margin-left: 20px;
    cursor: pointer;
    
}
.resultsContainer{
    border: 2px solid red;
    width: 400px;
    height: fit-content;
}

.resultCardItem{
    font-size: 16px;
    color: blue;
    border: 3px solid green;
}

.correct{
    font-size: 30px;
    font-weight: bold;

}

.saveButton{
    padding: 5px;
    border-radius: 4px;
    background-color: red;  
    font-size: 25px;
    font-weight: bold;
    color: white;
}